<div [ngClass]="{'open':showSidenav}">
    <section>
        <div *ngFor="let nav of navigation$ | async">
            <ng-container *ngIf="nav?.routerLink">
                <a routerLink="{{nav?.routerLink}}" (click)="close()">
                <button mat-flat-button>
                  {{nav?.title}}
                </button>
              </a>
            </ng-container>
            <ng-container *ngIf="nav?.path">
                <a href="{{nav?.path}}" target="{{nav?.target}}" (click)="close()">
                <button mat-flat-button>
                  {{nav?.title}}
                </button>
              </a>
            </ng-container>
        </div>
    </section>
</div>
