@import 'vars';
:host {
  display: flex;
  flex: 1;
  padding: 40px;
  > div {
    flex: 1;
    > mat-card {
      padding: 0;
      margin-bottom: 40px;
      @include mat-elevation(1);
      > header {
        display: flex;
        font-size: 1.425em;
        font-weight: 100;
        padding: 16px 24px;
        background: mat-color($primary, 500);
        color: mat-contrast($primary, 500);
        text-transform: capitalize;

        &.button {
          align-items: center;
          justify-content: space-between;
        }

        > button {
          background: rgba(0, 0, 0, 0.2);
          padding: 0;
          min-width: 150px;

          &:disabled {
            background: rgba(0, 0, 0, 0.1);
            mat-select {
              /deep/ .mat-select-value,
              /deep/ .mat-select-placeholder,
              /deep/ .mat-select-arrow {
                color: rgba(255, 255, 255, 0.1);
              }
            }
          }

          mat-select {
            /deep/ .mat-select-value,
            /deep/ .mat-select-placeholder,
            /deep/ .mat-select-arrow {
              color: rgba(255, 255, 255, 0.87);
            }
            /deep/ .mat-select-trigger {
              padding: 0 16px;
            }
          }
        }
      }
      > form {
        padding: 24px;
        display: flex;
        flex-direction: column;
        > section {
          flex: 1;
          display: flex;

          &:first-child {
            align-items: center;
            justify-content: space-between;

            > div {
              display: flex;
              align-items: center;
              flex: 0 1 auto;
              > span {
                font-weight: 400;
                + span {
                  color: mat-color($primary, 500);
                  padding-left: 16px;
                }
              }
            }
          }

          &:not(:last-child) {
            padding-bottom: 16px;
          }
          > div {
            flex: 1 1 50%;
          }
          > mat-form-field {
            flex: 1 1 50%;
            &.mat-form-field-disabled {
              user-select: none;
            }
            + mat-form-field {
              padding-left: 16px;
            }
          }
        }
      }
      > mat-card-content {
        padding: 24px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
