$sc-blue: (
  100: #d8eaf0,
  300: #42b2d9,
  400: #45abc7,
  500: #45abc7,
  contrast: (
    100: $black-87-opacity,
    300: white,
    400: white,
    500: white,
  ),
);

$sc-red: (
  100: #c94d4f,
  500: #c94d4e,
  contrast: (
    100: white,
    500: white,
  ),
);
