@import '~@angular/material/theming';
@import 'palette';
@import 'fonts';

$font-family: 'Roboto, monospace';

$primary: $sc-blue;
$accent: $sc-blue;
$warn: $sc-red;

$sc-breakpoints: (
  0: '960px',
  1: '840px',
  2: '600px',
  3: '480px',
);

$custom-typography: mat-typography-config(
  $font-family: $font-family,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);
